<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <!-- Nav Bar header code-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="icon" href="../../favicon.ico"/>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <!-- End of Nav Bar header code-->

    <link rel="stylesheet" type="text/css" href="static/css/courseMapping.css" th:href="@{/css/courseMapping.css}">
    <meta charset="UTF-8">
    <title>Adding a Course Mapping</title>
</head>
<body>
<!-- Nav Bar body code-->
<div class="containerr">
    <!-- Static navbar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="../courseMapping/">Back</a></li>
                    <li class="active"><a href="../admin/">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>
</div>
<!-- End of Nav Bar body code-->

<h1>Add a new Course Mapping</h1>

<div class="container" style="margin-top:30px">
    <img src="static/img/books.jpeg" th:src="@{/img/books.jpeg}"/>

    <div class="container2">
        <form action="#" th:action="@{/courseMapping/save}" th:object="${courseMapping}" method="post">
            <table border="0" cell[adding="10">
                <tr>
                    <td>Course Code:</td>
                    <td>
                        <select th:field="*{courseCode}">
                            <option value="">Choose..</option>
                            <option th:each="course: ${courses}" th:value="${course.courseCode}"
                                    th:text="${course.courseCode}"/>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td>Stream:</td>
                    <td>
                        <select th:field="*{streamCode}">
                            <option value="">Choose..</option>
                            <option th:each="stream: ${streams}" th:value="${stream.code}" th:text="${stream.name}"/>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Lecture Hall:</td>
                    <td>
                        <select th:field="*{hallCode}">
                            <option value="">Choose..</option>
                            <option th:each="hall: ${lectureHalls}" th:value="${hall.hallCode}"
                                    th:text="${hall.name}"/>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Student Group:</td>
                    <td>
                        <select th:field="*{groupCode}">
                            <option value="">Choose..</option>
                            <option th:each="group: ${studentGroups}" th:value="${group.groupCode}" th:text="${group.groupCode}"/>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Year:</td>
                    <td>
                        <select th:field="*{year}">
                            <option value="2015">2015</option>
                            <option value="2016">2016</option>
                            <option value="2017">2017</option>
                            <option value="2018">2018</option>
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                        </select>
                    </td>

                </tr>
                <tr>
                    <td>Semester:</td>
                    <td>
                        <select th:field="*{semester}">
                            <option value="1">Semester 1</option>
                            <option value="2">Semester 2</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Day:</td>
                    <td>
                        <select th:field="*{day}">
                            <option value="Monday">Monday</option>
                            <option value="Tuesday">Tuesday</option>
                            <option value="Wednesday">Wednesday</option>
                            <option value="Thursday">Thursday</option>
                            <option value="Friday">Friday</option>
                            <option value="Saturday">Saturday</option>
                            <option value="Sunday">Sunday</option>
                        </select>
                    </td>

                </tr>
                <tr>
                    <td>Start:</td>
                    <td>
                        <select th:field="*{start}">
                            <option value="8">8.00</option>
                            <option value="9">9.00</option>
                            <option value="10">10.00</option>
                            <option value="11">11.00</option>
                            <option value="12">12.00</option>
                            <option value="13">13.00</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>End:</td>
                    <td>
                        <select th:field="*{end}">
                            <option value="8">8.00</option>
                            <option value="9">9.00</option>
                            <option value="10">10.00</option>
                            <option value="11">11.00</option>
                            <option value="12">12.00</option>
                            <option value="13">13.00</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>


</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>
</html>