<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Adding a Subject</title>
</head>
<body>
<div class="col-md-12">
    <div class="col-md-6">
        <img src="../../resources/static/img/books.jpeg ">
    </div>
<div class="col-md-6">

<div align="center">
    <h1>Add a new Subject</h1>
    <br/>
    <form action="#" th:action="@{/subject/save}" th:object="${subject}" method="post">
        <table border="0" cell[adding="10">
            <tr>
                <td>Subject code:</td>
                <td><input type="text" th:field="*{subject_code}" /></td>
            </tr>
            <tr>
                <td>Subject Name:</td>
                <td><input type="text" th:field="*{name}" /></td>
            </tr>
            <tr>
                <td>Course:</td>
                <td>
                    <select th:field="*{course_code}">
                        <option value="">Choose..</option>
                        <option th:each="course: ${courses}" th:value="${course.code}" th:text="${course.name}" />
                    </select>
                </td>
            </tr>
            <tr>
                <td>Lecture Hall:</td>
                <td>
                    <select th:field="*{hall_code}">
                        <option value="">Choose..</option>
                        <option th:each="hall: ${lectureHalls}" th:value="${hall.hall_code}" th:text="${hall.name}" />
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Save</button></td>
            </tr>
        </table>
    </form>
</div>
</div>


</body>
</html>