<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="static/css/student.css" th:href="@{/css/student.css}">
    <meta charset="UTF-8">
    <title>Student Registration</title>
</head>
<body>
<h1>Register a Student</h1>

<div class="container" style="margin-top:30px">
    <img src="static/img/books.jpeg" th:src="@{/img/books.jpeg}"/>
    <div class="container2">
        <form action="#" th:action="@{/student/save}" th:object="${student}" method="post">
            <table border="0" cell[adding="10">
                <tr>
                    <td>Student Name:</td>
                    <td><input type="text" th:field="*{name}"/></td>
                </tr>
                <tr>
                    <td>Index Number:</td>
                    <td><input type="text" th:field="*{indexNumber}"/></td>
                </tr>
                <tr>
                    <td>Registration Number:</td>
                    <td><input type="text" th:field="*{registrationNumber}"/></td>
                </tr>
                <tr>
                    <td>Address:</td>
                    <td><input type="text" th:field="*{address}"/></td>
                </tr>
                <tr>
                    <td>Course:</td>
                    <td><input type="text" th:field="*{course}"/></td>
                </tr>
                <tr>
                    <td>Student NIC:</td>
                    <td><input type="text" th:field="*{nic}"/></td>
                </tr>
                <tr>
                    <td>User Id:</td>
                    <td><input type="text" th:field="*{user_id}"/></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit">Save</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>


</body>
</html>