<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <!-- Nav Bar header code-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="icon" href="../../favicon.ico"/>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <!-- End of Nav Bar header code-->

    <link rel="stylesheet" type="text/css" href="static/css/timeTableMapping.css" th:href="@{/css/timeTableMapping.css}">
    <meta charset="UTF-8">
    <title>Time Table</title>
</head>

<body>
<!-- Nav Bar body code-->
<div class="containerr">
    <!-- Static navbar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="../timeTableMapping/">Back</a></li>
                    <li class="active"><a href="../admin/">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>
</div>
<!-- End of Nav Bar body code-->


</form>
<div class="container2">
    <form action="#" th:action="@{/timeTableMapping/saveAll}" th:object="${timeTableMapping}" method="post">
        <table border="0" cell[adding="10">
            <tr>
                <td><h1>Time Table:</h1></td>
                <td>
                    <select th:field="*{code}">
                        <option value="">Choose..</option>
                        <option th:each="timeTable: ${timeTables}" th:value="${timeTable.id}" th:text="${timeTable.name}"/>
                    </select>
                </td>

        </table>

        <table border="1" >
            <thead>
            <tr>
            </tr>
            <br>
            <th></th>
            <th>Monday</th>
            <td style="background-color: cornflowerblue;"></td >
            <td style="background-color: cornflowerblue;"></td>
            <td style="background-color: cornflowerblue;"></td>
            <th>Tuesday</th>
            <td style="background-color: cornflowerblue;"></td >
            <td style="background-color: cornflowerblue;"></td>
            <td style="background-color: cornflowerblue;"></td>
            <th>Wednesday</th>
            <td style="background-color: cornflowerblue;"></td >
            <td style="background-color: cornflowerblue;"></td>
            <td style="background-color: cornflowerblue;"></td>
            <th>Thursday</th>
            <td style="background-color: cornflowerblue;"></td >
            <td style="background-color: cornflowerblue;"></td>
            <td style="background-color: cornflowerblue;"></td>
            <th>Friday</th>
            <td style="background-color: cornflowerblue;"></td >
            <td style="background-color: cornflowerblue;"></td>
            <td style="background-color: cornflowerblue;"></td>



            </thead>
            <tbody>

            <th:block th:each="time : ${times}">
                <tr>

                    <th th:text="${ time.start }+':00 - ' + ${ time.end }+':00'"></th>

                    <th:block th:each="day : ${days}">
                        <td>
                            <select th:field="*{courseCode}">
                                <option value=""></option>
                                <option th:each="course: ${courses}" th:value="${course.courseCode}" th:text="${course.name}"/>
                        <td><input type="text"  th:value="${day.name}" name="day" style="display:none;width:0px" /></td>
                        <td><input type="text"  th:value="${time.start}" name="start" style="display:none;width:0px" /></td>
                        <td><input type="text"  th:value="${time.end}" name="end" style="display:none;width:0px" /></td>


                        </select>
                        </td>
                    </th:block>

                </tr>



     </th:block>

     <tr>
         <td colspan="2">
             <button type="submit">Save</button>
         </td>
     </tr>

     </tbody>
 </table>
</form>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>
</html>