<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="icon" href="../../favicon.ico"/>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="../static/css/admin.css" rel="stylesheet" th:href="@{/css/admin.css}"/>
</head>
<body>
<div class="container">
    <!-- Static navbar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="../admin/">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>
</div>
<div align="center">

    <div class="col-md-6 modal-content">
        <h1>Admin</h1>
        <a href="../student/">Student</a>
        <br><br>
        <a href="../course/">Course</a>
        <br><br>
        <a href="../hall/">Hall</a>
        <br><br>
        <a href="../lecturer/">Lecturer</a>
        <br><br>
        <a href="../subject/">Subject</a>
        <br><br>
        <a href="../machine/">Machine</a>
        <br><br>
        <a href="../enroll/">Enroll</a>
        <br><br>
        <a href="../machineMapping/">Machine Mapping</a>
        <br><br>
        <a href="../studentGroup/">Student Group</a>
        <br><br>
        <a href="../timeTable/">Time Table</a>
        <br><br>
        <a href="../timeTableMapping/">Time Table Mapping</a>
        <br><br>
        <a href="../records-student/new">Records</a>
        <br><br>
        <a href="../subjectMapping/">Subject Mapping</a>
        <br><br>

    </div>


</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>
</html>