<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Course Details</title>
</head>
<body>
<div align="center">
    <h1>Course Details</h1>
    <a href="../course/new">Add a new Course</a>
    <br><br>
    <table border="1">
        <thead>
        <tr>
            <th>Course Code</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="course : ${courseDetails}">
            <td th:text="${course.code}">Code</td>
            <td th:text="${course.name}">Name</td>
            <td>
                <a th:href="@{'/course/edit/' + ${course.id}}">Edit</a>
            </td>
            <td>
                <a th:href="@{'/course/delete/' + ${course.id}}">Delete</a>
            </td>


        </tr>
        </tbody>
    </table>

</div>
</body>
</html>