<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lecture Hall Details</title>
</head>
<body>
<div align="center">
    <h1>Lecture Hall Details</h1>
    <a href="../hall/new">Add a Lecture Hall</a>
    <br><br>
    <table border="1">
        <thead>
        <tr>
            <th>Hall Code</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="lectureHall : ${lectureHallDetails}">
            <td th:text="${lectureHall.hall_code}">Code</td>
            <td th:text="${lectureHall.name}">Name</td>
            <td>
                <a th:href="@{'/hall/edit/' + ${lectureHall.id}}">Edit</a>
            </td>
            <td>
                <a th:href="@{'/hall/delete/' + ${lectureHall.id}}">Delete</a>
            </td>


        </tr>
        </tbody>
    </table>

</div>
</body>
</html>