<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Details</title>
</head>
<body>
<div align="center">
    <h1>Student Details</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Index Number</th>
                <th>Name</th>
                <th>Address</th>
                <th>NIC</th>
                <th>Course</th>
                <th>user_id</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="student : ${studentDetails}">
                <td th:text="${student.indexNumber}">Id</td>
                <td th:text="${student.name}">Name</td>
                <td th:text="${student.address}">Address</td>
                <td th:text="${student.nic}">NIC</td>
                <td th:text="${student.course}">course</td>
                <td th:text="${student.user_id}">user_id</td>


            </tr>
        </tbody>
    </table>

</div>
</body>
</html>