<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="static/css/view.css" th:href="@{/css/view.css}">
    <meta charset="UTF-8">
    <title>Machine Mapping Details</title>
</head>
<body>

<h1>Machine Mapping Details</h1>
<a href="../machineMapping/new"><h2>Add a new Machine Mapping</h2></a>
<div class="container" style="margin-top:30px">
    <br><br>
    <table border="1">
        <thead>
        <tr>
            <th>Machine Code</th>
            <th>Lecture Hall</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="machineMapping : ${machineMappingDetails}">
            <td th:text="${machineMapping.machine_code}">Code</td>
            <td th:text="${machineMapping.hall_code}">Hall</td>
            <td>
                <a th:href="@{'/machineMapping/edit/' + ${machineMapping.id}}">Edit</a>
            </td>
            <td>
                <a th:href="@{'/machineMapping/delete/' + ${machineMapping.id}}">Delete</a>
            </td>


        </tr>
        </tbody>
    </table>
</div>

</body>
</html>