<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container2">
    <!--/*@thymesVar id="record" type=""*/-->
    <form action="#" th:action="@{/records/save}" th:object="${record}" method="post">
        <table border="0" cell[adding="10">
            
            <tr>
                <td colspan="2">
                    <button type="submit" class="btn btn-primary">Save</button>
                </td>
            </tr>
        </table>
    </form>
</div>

</body>
</html>