<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="static/css/view.css" th:href="@{/css/view.css}">
    <meta charset="UTF-8">
    <title>Student Details</title>
</head>
<body>

<h1>Student Details</h1>

<a href="../student/new"><h2>Register a Student</h2></a>
<div class="container" style="margin-top:30px">
    <br><br>
    <table border="1">
        <thead>
        <tr>
            <th>Index Number</th>
            <th>Name</th>
            <th>Address</th>
            <th>NIC</th>
            <th>Course</th>
            <th>user_id</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student : ${studentDetails}">
            <td th:text="${student.indexNumber}">Id</td>
            <td th:text="${student.name}">Name</td>
            <td th:text="${student.address}">Address</td>
            <td th:text="${student.nic}">NIC</td>
            <td th:text="${student.course_code}">course</td>
            <td th:text="${student.user_id}">user_id</td>
            <td>
                <a th:href="@{'/student/edit/' + ${student.id}}">Edit</a>
            </td>
            <td>
                <a th:href="@{'/student/delete/' + ${student.id}}">Delete</a>
            </td>


        </tr>
        </tbody>
    </table>

</div>
</body>
</html>