<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Subject Details</title>
</head>
<body>
<div align="center">
    <h1>Subject Details</h1>
    <a href="subject/new">Add a new Subject</a>
    <br><br>
    <table border="1">
        <thead>
        <tr>
            <th>Subject Code</th>
            <th>Name</th>
            <th>Course</th>
            <th>Hall</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="subject : ${subjectDetails}">
            <td th:text="${subject.subject_code}">Code</td>
            <td th:text="${subject.name}">Name</td>
            <td th:text="${subject.course_code}">Course</td>
            <td th:text="${subject.hall_code}">Hall</td>
            <td>
                <a th:href="@{'/subject/edit/' + ${subject.id}}">Edit</a>
            </td>
            <td>
                <a th:href="@{'/subject/delete/' + ${subject.id}}">Delete</a>
            </td>


        </tr>
        </tbody>
    </table>

</div>
</body>
</html>