<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="static/css/timeTableMapping.css" th:href="@{/css/timeTableMapping.css}">
    <meta charset="UTF-8">
    <title>Update Time Table</title>
</head>
<body>



</form>
<div class="container2">
    <form action="#" th:action="@{/timeTableMapping/saveAll}" th:object="${timeTableMapping}" method="post">
        <table border="0" cell[adding="10">
            <tr>
                <td><h1>Time Table:</h1></td>

                <td>
                    <select th:field="*{code}">
                        <option value="">Choose..</option>
                        <option th:each="timeTable: ${timeTables}" th:value="${timeTable.id}" th:text="${timeTable.name}"/>
                    </select>
                </td>
            </tr>
        </table>

        <table border="1" >
            <thead>
            <tr>
            </tr>
            <br>
            <th></th>
            <th>Monday</th>
            <td style="background-color: cornflowerblue;"></td >
            <td style="background-color: cornflowerblue;"></td>
            <td style="background-color: cornflowerblue;"></td>
            <th>Tuesday</th>
            <td style="background-color: cornflowerblue;"></td >
            <td style="background-color: cornflowerblue;"></td>
            <td style="background-color: cornflowerblue;"></td>
            <th>Wednesday</th>
            <td style="background-color: cornflowerblue;"></td >
            <td style="background-color: cornflowerblue;"></td>
            <td style="background-color: cornflowerblue;"></td>
            <th>Thursday</th>
            <td style="background-color: cornflowerblue;"></td >
            <td style="background-color: cornflowerblue;"></td>
            <td style="background-color: cornflowerblue;"></td>
            <th>Friday</th>
            <td style="background-color: cornflowerblue;"></td >
            <td style="background-color: cornflowerblue;"></td>
            <td style="background-color: cornflowerblue;"></td>



            </thead>
            <tbody>

            <th:block th:each="time : ${times}">
                <tr>

                    <th th:text="${ time.start }+':00 - ' + ${ time.end }+':00'"></th>

                    <th:block th:each="day : ${days}">
                        <td>
                            <select th:field="*{subject_code}">
                                <option value=""></option>
                                <option th:each="subject: ${subjects}" th:value="${subject.subject_code}" th:selected="${subject_code}" th:text="${subject.name} "/>

                        <td><input type="text"  th:value="${day.name}" name="day" style="display:none;width:0px" /></td>
                        <td><input type="text"  th:value="${time.start}" name="start" style="display:none;width:0px" /></td>
                        <td><input type="text"  th:value="${time.end}" name="end" style="display:none;width:0px" /></td>


                        </select>
                        </td>
                    </th:block>

                </tr>


            </th:block>

            <tr>
                <td colspan="2">
                    <button type="submit">Save</button>
                </td>
            </tr>

            </tbody>
        </table>
    </form>
</div>

</body>
</html>