<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <!-- Nav Bar header code-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="icon" href="../../favicon.ico"/>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <!-- End of Nav Bar header code-->

    <link rel="stylesheet" type="text/css" href="static/css/timeTableMapping.css"
          th:href="@{/css/timeTableMapping.css}">
    <meta charset="UTF-8">
    <title>Update Time Table</title>
</head>

<body>
<!-- Nav Bar body code-->
<div class="containerr">
    <!-- Static navbar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="../">Back</a></li>
                    <li class="active"><a href="../../admin/">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>
</div>
<!-- End of Nav Bar body code-->

</form>
<div class="container2">
    <form action="#" th:action="@{/timeTableMapping/saveAll2}" th:object="${timeTableMapping}" method="post">
        <table border="0" cell[adding="10">
            <tr>
                <td style="alignment: left; width:250px;text-align: left;font-size:30px"><h1>Time Table:</h1></td>
                <th th:text="${timeTableName}" style="alignment: left;text-align: left;font-family: Arial;font-size:30px"></th>
                <th></th>
                <th th:text="${code}" style="display:none;width:0px"></th>

            </tr>
        </table>

        <table border="1">
            <thead>
            <tr>
            </tr>
            <br>
            <th style="background-color: cornflowerblue;"></th>
            <th style="background-color: cornflowerblue;">Monday</th>
            <td style="background-color: cornflowerblue;"></td >

            <th style="background-color: cornflowerblue;">Tuesday</th>
            <td style="background-color: cornflowerblue;"></td >

            <th style="background-color: cornflowerblue;">Wednesday</th>
            <td style="background-color: cornflowerblue;"></td >

            <th style="background-color: cornflowerblue;">Thursday</th>
            <td style="background-color: cornflowerblue;"></td >

            <th style="background-color: cornflowerblue;">Friday</th>
            <td style="background-color: cornflowerblue;"></td >


            </thead>
            <tbody>
            <script>var i = 0;</script>
            <th:block th:each="i : ${#numbers.sequence(0, 1)}" >
                <tr>

                    <th th:text="${ times[i].start }+':00 - ' + ${ times[i].end }+':00'" style="background-color: cornflowerblue;"></th>

                    <th:block th:each="j : ${#numbers.sequence(0, 4)}">

                        <td>
                            <select id="courseCode" name="courseCode" style="width:150px;height:40px">
                                <option value=""><th:block th:text="${timeTableMapping2[(i*5)+j].courseCode}" ></th:block></option>
                                <option th:each="course: ${courses}" th:value="${course.courseCode}"
                                        th:text="${course.courseCode}" />
                        <td><input type="text"  th:value="${code}" name="code" style="display:none;width:0px" /></td>


                            </select>
                        </td>




                    </th:block>
                </tr>

            </th:block>



            <tr>
                <th></th><td></td><th></th><td></td>
                <th></th><td></td><th></th><td></td>
                <th colspan="2" style="alignment: right">
                    <button type="submit" style="width: 100px;height: 40px;font-size:20px;alignment: right">Save</button>
                </th>
                <td></td>
            </tr>

            </tbody>
        </table>
    </form>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>
</html>
